# Dependencies
node_modules/
.pnpm-store/

# Environment
.env
.env.local
.env.*.local

# Coverage & Test
coverage/

# Build
dist/
build/
.next/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
mongo-data/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
